# we use 'ca' as the default section because we're usign the ca command
[ ca ]
default_ca = my_ca

[ my_ca ]
#  a text file containing the next serial number to use in hex. Mandatory.
#  This file must be present and contain a valid serial number.
serial = ./files/work/serial

# the text database file to use. Mandatory. This file must be present though
# initially it will be empty.
database = ./files/work/index.txt

# specifies the directory where new certificates will be placed. Mandatory.
new_certs_dir = ./files/newcerts

# the file containing the CA certificate. Mandatory
certificate = ./files/ca.crt

# the file contaning the CA private key. Mandatory
private_key = ./files/ca.key

# the message digest algorithm. Remember to not use MD5
default_md = sha256

# for how many days will the signed certificate be valid
default_days = 365

# a section with a set of variables corresponding to DN fields
policy = my_policy

# allow re-issuing certificates
unique_subject = no

# how long the crl is valid
default_crl_days = 7

# The extentions to add to the cert
x509_extensions = usr_cert

[ my_policy ]
# if the value is "match" then the field value must match the same field in the
# CA certificate. If the value is "supplied" then it must be present.
# Optional means it may be present. Any fields not mentioned are silently
# deleted.
countryName = optional
stateOrProvinceName = optional
organizationName = optional
organizationalUnitName = optional
commonName = supplied

.include ./files/ca.cnf
